.body{
    background-color:white ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

/*menu*/
.navbar {
    margin-bottom: 0;
    border-radius: 0;

}
li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

/*titulo*/
.imgAbout{
      border-radius: 50%;
      width: 250px;
  }


/*projetos*/
img{
    box-shadow: 0.5px 0.5px 0.5em grey;
}
p{
    font-weight: bold;
}
.description{
    background-color: #eeeeee;
    margin-top: -20px;
    height: 100px;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    padding-left: 5px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0.5em grey;
}

  

/*footer*/
  footer {
    padding: 25px;
    
}
.imgFooter{
    box-shadow: none;
    margin: 5px;
}